body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

div, p{
    color: #ffff;
}


#calculator {
background-color: #424242;
height:400px;
width: 300px;
margin-top: 10%;
margin-left: auto;
margin-right: auto;
}

#title {

}

#entrybox {

}

#entry {
    
}

#buttons {
     position: absolute;
     display: inline-block;
     width: 280px;
     height: auto;
     margin-left: 17px;

}
button {
    background-color: #e12c51;
    margin: 0 4px 10px 8px !important;
    border: none;
    height: 40px;
     width: 50px;

}
.top {
    height: 50px;
}
