@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

div, p{
    color: #ffff;
}


#calculator {
    background-color: #424242;
    height:340px;
    width: 300px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#buttons {
     position: absolute;
     display: inline-block;
     width: 280px;
     height: auto;
     margin-left: 17px;
}
button {
    background-color: #e12c51;
    margin: 0 4px 10px 8px !important;
    border: none;
    height: 40px;
     width: 50px;
    border-radius: 6px;
    font-size: 1.2rem;
    color: bisque;
}

#zero {
    width: 116px;
}

#clear {
 width: 116px;
}

#equals {
    width: 116px;
}

.top {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#display {
     margin-left: auto;
    color: coral;
    font-size: 1.2rem;

 }


